/* IMPOSTAZIONI GENERALI */
html {
  font-size: 62.5%;
}
body {
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 15px;
  background-image: url("../img/sfondo.png");
  background-position: center center;
}
* {
  box-sizing: border-box;
}
hr {
  display: none;
} /* rimuove l'elemento */

/* HEADER */
header {
  background: rgb(0, 160, 198);
  background: linear-gradient(180deg, rgba(0, 160, 198, 1) 0%, rgba(3, 109, 134, 1) 68%);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  box-shadow: 0 3px 3px #444;
  margin-bottom: 1.5em;
  padding: 2em 1.5em;
  position: fixed;
  left: 15px;
  right: 15px;
  z-index: 1;
}
.logo-html {
  border: 5px solid #019cc2;
}
header div img {
  margin-bottom: 20px;
}
header nav ul {
  margin: 0;
}
header nav li {
  list-style: none;
}
header nav li a {
  color: white;
  text-decoration: none;
}
header nav li a:hover {
  color: red;
}
header nav li a::before {
  content: "\22c6\0020";
}

/* MAIN */
main {
  background-color: #fff;
  box-shadow: 0 3px 3px #444;
  padding: 2em 1em;
  margin-bottom: 1.5em;
  position: relative;
  margin-block-start: 22rem;
}
section {
  background-color: #e3e3e3;
  padding: 1em;
  margin-bottom: 2em;
}
section h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: -0.03em;
}

.contenitore-titolo {
  display: inline-block;
  position: relative;
  margin-block-end: 2rem;
}
.contenitore-titolo img {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 50%;
}
p,
address,
ul,
ol,
dl,
blockquote {
  margin-bottom: 1.2em;
}
h1 + p {
  color: #a0a0a0;
}
ul,
ol {
  margin-left: 2em;
}
a {
  color: #3f6bca;
  font-weight: bold;
}
strong {
  color: #a02571;
  font-weight: bold;
}
code {
  background-color: #e3e3e3;
  border: 1px solid #969494;
  border-radius: 5px;
}
iframe {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
  border-radius: 20px;
}

/* TABELLE */
table {
  margin-bottom: 2em;
}
caption {
  font-weight: bold;
  font-style: italic;
}
thead tr {
  background-color: #3f6bca;
  color: #ffffff;
}
th,
td {
  padding: 12px 15px;
  vertical-align: bottom;
  text-align: center;
}
tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #3f6bca;
}

/* FORM */
input {
  padding: 5px;
  border: 0;
  border-bottom: 1px dashed #333;
}
button {
  padding: 4px 7px;
  background-color: #3f6bca;
  border: 0;
  color: white;
  font-weight: bold;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}
aside div {
  background-color: #e3e3e3;
  border: 1px solid #c3c3c3;
  margin-bottom: 1em;
  padding: 1em;
  position: relative;
}

div p .fa-tag {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 5rem;
  color: #cdcdcd;
}
aside div p:last-child {
  margin-bottom: 0;
  font-size: 0.8em;
  text-align: right;
}

.torna-su a {
  display: block;
  height: 6rem;
  width: 6rem;
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  color: violet;
  padding-inline: 1rem;
  border: 2px solid white;
  background-color: rgba(225, 225, 225, 0.2);
  backdrop-filter: blur(10px);
  font-size: 4rem;
  border-radius: 5px;
}
.calendario {
  display: block;
  height: 6rem;
  width: 6rem;
  position: fixed;
  right: 0;
  bottom: 10rem;
  padding-inline: 1rem;
  border: 2px solid white;
  background-color: rgba(225, 225, 225, 0.2);
  backdrop-filter: blur(10px);
  font-size: 4rem;
  border-radius: 10px;
}
.add {
  display: block;
  height: 6rem;
  width: 6rem;
  position: fixed;
  right: 0;
  bottom: 20rem;
  padding-inline: 1rem;
  border: 2px solid white;
  background-color: rgba(225, 225, 225, 0.2);
  backdrop-filter: blur(10px);
  font-size: 4rem;
  border-radius: 10px;
}

/* FOOTER */
footer {
  background: rgb(53, 53, 53);
  background: linear-gradient(0deg, rgba(53, 53, 53, 1) 0%, rgba(5, 85, 103, 1) 68%);
  box-shadow: 0 3px 3px #444;
  color: #f0f0f0;
  padding: 1em;
  text-align: center;
  font-size: 1.2rem;
}
footer a {
  color: fuchsia;
}

/*CREAZIONE DELLE MEDIA PER I VARI SCHERMI*/

header nav li {
  display: inline-block;
}
table {
  margin-inline-end: 4rem;
}
iframe {
  height: 15rem;
}
section {
  position: relative;
}
section h2 {
  background-color: #a3a3a3;
  position: absolute;
  top: -2rem;
  padding-inline: 1rem;
}

.contenitore-html-logo {
  position: relative;
  margin-block-end: 2rem;
  line-height: 0;
}

.img-html {
  display: inline-block;
  position: relative;
  border: 5px solid #9d1d6c;
  margin-inline-end: 2rem;
}

.contenitore-html-logo img {
  position: relative;
}

.contenitore-html-logo p {
  display: inline-block;
  position: absolute;
  line-height: 1;
}

@media screen and (min-width: 577px) {
  table {
    margin-inline: auto;
  }

  button {
    padding: 12px 15px;
  }
  input {
    padding-block: 12px;
    padding-inline-end: 15rem;
  }
}

@media screen and (min-width: 769px) {
  header {
    text-align: start;
    padding-block: 1rem;
  }
  header div {
    text-align: start;
    width: 75%;
    display: inline-block;
  }

  header div img {
    vertical-align: middle;
  }
  header p {
    display: inline-block;
    vertical-align: baseline;
  }
  header nav {
    display: inline-block;
    vertical-align: baseline;
  }
  header nav li {
    display: inline-block;
  }

  .calendario {
    position: fixed;
    right: 2rem;
    top: 10rem;
    z-index: 2;
  }
  .add {
    position: fixed;
    right: 2rem;
    top: 2rem;
    z-index: 2;
  }
  .torna-su {
    right: 2rem;
  }
  main {
    margin-block-start: 15rem;
  }

  table {
    width: 80%;
    margin-inline: auto;
  }
  iframe {
    max-width: 49%;
    height: 21rem;
  }
  section {
    display: inline-block;
    max-width: 49%;
    height: 21rem;
    border-radius: 20px;
    vertical-align: bottom;
  }

  button {
    padding-block: 12px;
    padding-inline: 3%;
  }

  aside div {
    display: inline-block;
    width: 33%;
    margin-right: -4px;
    vertical-align: middle;
  }

  footer {
    padding-inline: 15rem;
  }
}

@media print {
  main {
    box-shadow: none;
  }
  header {
    display: none;
  }
  table {
    margin-inline-end: 4rem;
  }
  thead tr {
    background-color: white;
    color: black;
  }
  iframe {
    display: none;
  }
  section {
    display: none;
  }
  aside {
    display: none;
  }
  footer {
    display: none;
  }
}
